{{%- if SPECS|length >= 1 -%}}
  {{{ bash_package_version_conditional(PKGNAME, SPECS).rstrip().split("\n")|join(" && ") }}}
  {{%- else -%}}
    {{{ bash_package_installed(pkgname) }}}
{{%- endif -%}}
